<!DOCTYPE html>
<html lang="en">
<head>

  <title>GCP Uploader</title>
  <style>

    h1
    {
    position: absolute;
    left:570px;
    top: 180px;
    }
  
    p
    {
    position: absolute;
    left:530px;
    top: 240px;
    }
    .img_google
    {
      position: absolute;
      left: 480px;
      top: 170px;
    }
    .inline
    {
    position: absolute;
    left:600px;
    top: 290px;
    }

  </style>
  
</head>

<h1>Welcome</h1>

<p>File Uploaded Successfully😜</p>

<div class="img_google">
<img src="https://seeklogo.com/images/G/google-cloud-logo-ADE788217F-seeklogo.com.png" alt="Flowers in Chania" width="70" height="70">
</div>

<form action="/" class="inline">
  <button class="float-left submit-button" >Home</button>
</form>